<mat-card id="gym-info">

	<mat-card-subtitle>
		<div class="title-flex">
			<div class="info-title">
				{{gymData?.properties?.name}}
			</div>
			
			<button class="title-close-btn" mat-icon-button (click)="onClose()">
				<mat-icon>close</mat-icon>
			</button>
		</div>
	</mat-card-subtitle>

	<mat-divider></mat-divider>
	<br/>

	<mat-card-content>
		<h3>RAID</h3>
		<p>
			{{raidInfo}}
		</p>
		
		<br />

		<h3>OPIS</h3>
		<p>
			{{gymDesc}}
		</p>	
	</mat-card-content>

	<mat-divider></mat-divider>
	
	<mat-card-actions>
		<button mat-button disabled>Zapisz się</button>
		<button mat-button (click)="startNavigate()">Nawiguj</button>
	</mat-card-actions>
</mat-card>
